name: Deploy

# Trigger the workflow on push and pull request events on the main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Authenticate to the server via SSH and run our deployment script
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code from GitHub
      - uses: actions/checkout@v2

      # Deploy to the server
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.SSHKEY }}
          script: "cd /var/www/fire242 && ./.scripts/deploy.sh"
